In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql mysql+mysqlconnector://root:root@localhost/test

In [12]:
%%sql
show databases

 * mysql+mysqlconnector://root:***@localhost/test
11 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('spotify',),
 ('sys',),
 ('test',),
 ('zom_ato_',),
 ('zomata_data_anaysis',),
 ('zomato',),
 ('zomato2_0_version',),
 ('zomato_project',)]

In [16]:
%%sql
drop database food_order_system;
CREATE DATABASE IF NOT EXISTS food_order_system;
USE food_order_system;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
1 rows affected.
0 rows affected.

[]

In [17]:
%%sql
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone VARCHAR(15),
    address TEXT,
    city VARCHAR(50),
    state VARCHAR(50),
    pincode VARCHAR(10),
    gender ENUM('Male', 'Female', 'Other'),
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [18]:
%%sql
CREATE TABLE IF NOT EXISTS categories (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [19]:
%%sql
CREATE TABLE IF NOT EXISTS items (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    category_id INT,
    description TEXT,
    is_available BOOLEAN DEFAULT TRUE,
    rating FLOAT DEFAULT 0,
    calories INT,
    preparation_time INT COMMENT 'in minutes',
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES categories(id)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [9]:
%%sql

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [20]:
%%sql
CREATE TABLE IF NOT EXISTS cart (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    item_id INT,
    quantity INT DEFAULT 1,
    added_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (item_id) REFERENCES items(id)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [21]:
%%sql

CREATE TABLE IF NOT EXISTS orders (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT,
    total_amount DECIMAL(10,2),
    delivery_address TEXT,
    special_instructions TEXT,
    order_status ENUM('Pending', 'Confirmed', 'Preparing', 'Out for Delivery', 'Delivered', 'Cancelled') DEFAULT 'Pending',
    order_time DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [23]:
%%sql
CREATE TABLE IF NOT EXISTS order_items (
    id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    item_id INT,
    quantity INT,
    price DECIMAL(10,2),
    item_name VARCHAR(100),
    item_category VARCHAR(50),
    FOREIGN KEY (order_id) REFERENCES orders(id),
    FOREIGN KEY (item_id) REFERENCES items(id)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [24]:
%%sql
CREATE TABLE IF NOT EXISTS payment (
    id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    method VARCHAR(50),
    status ENUM('Pending', 'Completed', 'Failed') DEFAULT 'Completed',
    transaction_id VARCHAR(100),
    paid_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (order_id) REFERENCES orders(id)
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [14]:
%%sql

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [15]:
%%sql

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [16]:
%%sql

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.
4 rows affected.
1 rows affected.
2 rows affected.

[]

In [9]:
%%sql

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'zomato2_0_version.user' doesn't exist
[SQL: ALTER TABLE user
ADD COLUMN phone VARCHAR(15),
ADD COLUMN address TEXT,
ADD COLUMN city VARCHAR(50),
ADD COLUMN state VARCHAR(50),
ADD COLUMN pincode VARCHAR(10),
ADD COLUMN gender ENUM('Male', 'Female', 'Other'),
ADD COLUMN created_at DATETIME DEFAULT CURRENT_TIMESTAMP;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql